<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!debug">
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%date] %-5level %logger{35} %X{job.id} - %msg %n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="debug">
        <logger name="org.springframework.security.oauth2" level="DEBUG"/>
        <logger name="org.springframework.security.jwt" level="DEBUG"/>
        <logger name="org.springframework.security" level="DEBUG"/>
        <logger name="org.springframework" level="DEBUG"/>
        <logger name="org.springframework.boot.autoconfigure.web" level="DEBUG"/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%date] %-5level %logger{35} %X{job.id} - %msg %n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>
